<ion-header>
  <ion-navbar color="primary">
    <ion-title>Invitation</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <form #inviteForm="ngForm" novalidate>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
      </ion-item>
    </form>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button color="primary" ion-button clear block (click)="sendInvite()" [disabled]="inviteForm.invalid">Send Invite</button>
  </ion-toolbar>
</ion-footer>
