alert-modal {
  .scroll-content {
    overflow-y: hidden;
  }

  .content.success .scroll-content {
    background-image: linear-gradient(to top left, rgba(175, 238, 191, 0.2) 0%, #FFFFFF 100%);
    border: 1px solid green;
  }

  .content.failure .scroll-content {
    background-image: linear-gradient(to top left, rgba(239, 88, 88, 0.1) 0%, #FFFFFF 100%);
    border: 1px solid red;
  }

  .message {
    margin-top: 30px;
    height: calc(30% - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    font-size: 1.5em;
    text-align: center;
  }

  .message.success {
    background-color: rgba(0,255,0,0.3);
  }

  .message.failure {
    background-color: rgba(243,3,3,0.2);
  }

  ion-icon {
    padding: 0 20px;
    font-size: 3em;
    color: black;
    height: 10% !important;
  }

  .title {
    letter-spacing: 3px;
    position: absolute;
    text-align: center;
    border-radius: 40px;
    font-weight: bold;
    background-color: white;
    padding: 15px 20px;
    left: 0;
    right: 0;
    width: 70%;
    margin-left: auto;
    font-size: 20px;
    margin-right: auto;
  }

  .title.success {
    color: green;
  }

  .title.failure {
    color: red;
  }

  .icon-container {
    height: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    height: auto;
    display: block !important;
    color: green;
  }

  .close-button.success {
    color: green;
    text-align: right;
  }

  .close-button.failure {
    text-align: right;
    color: #d06079;
  }
  //
  svg {
    width: 250px;
    display: block;
  }

  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;

    &.circle {
      -webkit-animation: dash 0.9s ease-in-out;
      animation: dash 0.9s ease-in-out;
    }

    &.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
      animation: dash 0.9s 0.35s ease-in-out forwards;
    }

    &.check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
      animation: dash-check 0.9s 0.35s ease-in-out forwards;
    }
  }

  p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;

    &.success {
      color: #73AF55;
    }

    &.error {
      color: #D06079;
    }
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }

    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }

    100% {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }

    100% {
      stroke-dashoffset: 900;
    }
  }
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }

    100% {
      stroke-dashoffset: 900;
    }
  }
}
