single-event {
  .event-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .progress-bar-container {
    height: 10px !important;
    display: flex !important;
    flex-direction: column;
    /* margin-right: -19px; */
    flex: 1 1 auto;
    /* align-items: center; */
    justify-content: center;
  }

  .translate-css {
    @media(max-width:600px) {
      transform: translateX(21%);
    }
    @media(min-width:600px) {
      transform: translateX(10%);
    }
  }

  .progress-bar {
    float: right !important;
    height: 5px !important;
    margin: unset;
  }
}
