<ion-card  *ngIf="postData.type !== 'POLL'">
  <ion-item class="customCardItem">
    <ion-avatar item-left>
      <img [src]="user.picture ? user.picture: 'assets/img/user.png'"  />

    </ion-avatar>
    <h3>{{user.firstName}} {{ user.lastName}}</h3>
    <p *ngIf="user.designation">{{user.designation}}</p>
    <div item-right>
      <ion-row>
        <ion-icon small name="md-time" class="moment-ago-icon"></ion-icon>
        <moment-ago [timeStamp]="postData.publishedTime ? postData.publishedTime : postData.modifiedTime" style="margin-top: -1px;">
        </moment-ago>
      </ion-row>
      <div [hidden]="!!params.hideBadge">
        <ion-badge item-right *ngIf="postData.published" style="background-color:#53c374;">Published</ion-badge>
        <ion-badge item-right *ngIf="!postData.published" style="background-color:rgba(239, 13, 13, 0.77);">Draft</ion-badge>
      </div>
    </div>
  </ion-item>
  <div (click)="goToSessionDetail()">
    <template post-container></template>
  </div>
  <ion-row>
    <ion-col *ngIf="postData.type !== 'POLL'">
      <like [params]="params" [data]= "{type:'posts',id:postData.id}"></like>
    </ion-col>
    <ion-col style="text-align:right" *ngIf="params.hideMore !== true">
      <button ion-button clear (click)="showActionSheet()">
        <ion-icon name="ios-more-outline" class="more-icon"></ion-icon>
       </button>
    </ion-col>
  </ion-row>
</ion-card>

<!-- if POLL then just show the component without Header/Footer -->
<div *ngIf="postData.type === 'POLL'" class="poll-container">
  <template post-container></template>
  <div class="bg-white" *ngIf="params.hideMore !== true">
    <button ion-button clear small (click)="showActionSheet()">
      <ion-icon name="ios-more-outline" class="more-icon"></ion-icon>
     </button>
  </div>
</div>
