post-card {
  ion-icon.moment-ago-icon,
  moment-ago span {
    color: #808080 !important;
  }

  moment-ago span {
    font-size: 13px;
  }

  .bg-white {
    background-color: #fff;
    margin: -2px 0 12px;
    height: 40px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    text-align: right;
    font-size: 2rem;
    border-radius: 0 0 2px 2px;
  }

  .item-event-details .item-inner {
    padding-right: 0 !important;
  }

  .poll-container {
    padding: 10px;
  }

  .more-icon {
    font-size: 35px !important;
  }
}
