<ion-content no-bounce>
  <ion-slides (ionSlideDidChange)="onSlideDidChange($event)" pager color="secondary">
    <ion-slide class="slide1">
      <img [src]="screens['screen1'].image" class="slide-image" [imageCache]="screens['screen1'].image" style="margin-bottom:0px;"/>
        <h2 *ngIf="screens['screen1'].title" class="slide-title">{{ screens['screen1'].title }}</h2>
        <p class="slide-description" *ngIf="screens['screen1'].description" [innerHTML]="screens['screen1'].description"></p >
        <p class="slide-message" *ngIf="screens['screen1'].message" [innerHTML]="screens['screen1'].message"></p>
    </ion-slide>

    <ion-slide class="slide2">
      <img [src]="screens['screen2'].image" class="slide-image" [imageCache]="screens['screen2'].image" style="margin-bottom:0px;"/>
        <h2 *ngIf="screens['screen2'].title" class="slide-title">{{ screens['screen2'].title }}</h2>
        <p class="slide-description" *ngIf="screens['screen2'].description" [innerHTML]="screens['screen2'].description"></p>
        <div class="slide-message" *ngIf="screens['screen2'].message" [innerHTML]="screens['screen2'].message"></div>
    </ion-slide>

    <ion-slide class="slide3">
      <img [src]="screens['screen3'].image" class="slide-image" [imageCache]="screens['screen3'].image"/>
          <h2 class="slide-title" *ngIf="screens['screen3'].title" class="slide-title">{{ screens['screen3'].title  }}</h2>
          <p class="slide-title" *ngIf="screens['screen3'].description" [innerHTML]="screens['screen3'].description"></p>
          <button ion-button outline color="primary" icon-right large (click)="startApp()">
            {{ screens['screen3'].buttonText  }}
            <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </ion-slide>

  </ion-slides>
</ion-content>
