<span class="poll-label">Poll</span>
<div padding>
  <h3 class="question">{{ post.question ? post.question : 'Enter Question' }}</h3>
</div>
<div *ngIf="!this.isPollExpired || params.preview">
  <ion-list radio-group [(ngModel)]="pollValue" class="poll-background">
    <div *ngFor="let option of post.options; let i = index">
      <ion-item *ngIf="option.name">
        <ion-radio value="{{option.name}}" item-left [disabled]="uid==null"></ion-radio>
        <ion-label>{{option.name}}</ion-label>
      </ion-item>
    </div>
    <ion-buttons end>
      <button ion-button outline small (click)="submit()" [disabled]="uid==null || params.hideButton || params.preview">Vote</button>
    </ion-buttons>
  </ion-list>
</div>

<div class="poll-background" *ngIf="this.isPollExpired && !params.preview">
  <ion-list no-lines>
    <ion-item *ngFor="let option of post.options; let i = index">
      <div> {{option.name}} </div>
      <progress value="{{ this.countArray[i] }}" max="{{ this.totalVotes }}" id="vote_bar{{i+1}}"> </progress> {{ this.countArray[i] }} Votes
    </ion-item>
  </ion-list>
  <div class="bar">
    <div [poll-vote]="this.countArray[i]" [vote-array]="this.countArray" *ngFor="let option of this.post.options; let i=index;">
      <span class="votes">  </span>
    </div>
  </div>
</div>
