<ion-header>
  <ion-navbar color="light" hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only color="primary" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ navParams.get('title') ? navParams.get('title') : ''}}
    </ion-title>

    <ion-buttons end>
      <button ion-button color="primary" type="submit" (click)="saveMenu()" [disabled]="isValid()">Select</button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list radio-group [(ngModel)]="data.type" *ngIf="types.length">
    <ion-item *ngFor="let type of types">
      <ion-label>{{type.$value}}</ion-label>
      <ion-radio value="{{type.$key}}" (ionSelect)="onChange()"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-row>
      <ion-col width-40 *ngIf="navParams.get('isMenu')">
        <ion-item no-lines (click)="updateIcon()">
          <ion-avatar item-start>
            <ion-icon [name]="data.icon" style="font-size: 35px;"></ion-icon>
          </ion-avatar>
          <p color="primary">Change</p>
        </ion-item>
      </ion-col>
      <ion-col width-80>
        <ion-item no-lines>
          <ion-label stacked color="primary">Menu Label</ion-label>
          <ion-input [(ngModel)]="data.title" name="title" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-item *ngIf="isMenuType('LAUNCH_URL')">
      <ion-label stacked color="primary" class="required-input">Webpage URL</ion-label>
      <ion-input [(ngModel)]="data.value" name="value" type="text" required></ion-input>
    </ion-item>

  </ion-list>

  <ion-segment color="primary" [(ngModel)]="data.type" *ngIf="!isMenuType('LAUNCH_URL')" (ionChange)="changeMenuType($event)">
    <ion-segment-button value="COMPONENT"> Component </ion-segment-button>
    <ion-segment-button value="PAGE"> Page </ion-segment-button>
    <ion-segment-button value="SCHEDULE" *ngIf="navParams.get('isNotification')"> Schedule </ion-segment-button>
  </ion-segment>

  <ion-searchbar [(ngModel)]="query" autocomplete="on" (keyup)="onChange()" showCancelButton="true" placeholder="Search" color="primary" #searchBar *ngIf="data.type=='SCHEDULE' && (getItems()).length"></ion-searchbar>
  <ion-segment [(ngModel)]="scheduleSegment" color="primary" (ionChange)="updateSchedules($event)" *ngIf="data.type=='SCHEDULE' && (getItems()).length">
    <ion-segment-button value="live">
      Upcoming
    </ion-segment-button>
    <ion-segment-button value="past">
      PAST
    </ion-segment-button>
  </ion-segment>

  <ion-list radio-group [(ngModel)]="selectedItem" *ngIf="!isMenuType('LAUNCH_URL')">
    <ion-item *ngFor="let item of getItems() | search : query : ['Name', 'title']">
      <ion-label>{{ item.title || item.Name }}</ion-label>
      <ion-radio [value]="item.EventId" (ionSelect)="updateSelection(item)"></ion-radio>
    </ion-item>
    <no-results *ngIf="!getItems().length" icon="alert" text="No results found"></no-results>
  </ion-list>

</ion-content>
