single-event {
  .event-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .calendar-event .label{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  .calendar{
    width: 64px;
    padding-top: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .month{
      left: 0 !important;
      position: relative !important;
      top: -1px !important;
      width: 62px !important;
    }
  }

  .event-timings{
    font-size: 1.5rem;
    display: inline-block !important;
  }

  p span{
    display: inline !important;
  }

  .event-content{
    width: calc(100% - 70px);
  }
}
