<ion-header>
  <ion-navbar hideBackButton="true" color="primary">
    <ion-title>
      Notifications
    </ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list [hidden]="!notifications.length">
    <ion-item *ngFor="let notification of notifications" (click)="viewNotification(notification)">
      <span>
        <moment-ago [timeStamp]="notification.createdDate"></moment-ago>
      </span>
      <p>{{notification.body}} </p>
    </ion-item>
  </ion-list>

  <no-results [hidden]="notifications.length" icon="notifications" text="No notifications found"></no-results>
</ion-content>
