page-schedule-form {
  .back-button {
    display: block;
  }

  .elipsis {
    white-space: nowrap;
    width: 3.5em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .btn-add {
    height: 30px;
  }

  .input-cover {
    margin-left: 20%;
  }
}

ion-fab button.fab {
  margin-top: -30px;
}
