<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons>

    <ion-title>
      Post
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>
  <form #postForm="ngForm" novalidate>
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="primary">Type</ion-label>
              <ion-select [(ngModel)]="post.type" name="type" #type="ngModel" (ionChange)="changeDetect($event)">
                <div *ngFor="let type of types">
                  <ion-option value="{{type.$key}}" *ngIf="((!isType('CALENDAR') && type.$key !== 'CALENDAR')  || (isType('CALENDAR') && type.$key == 'CALENDAR'))">{{type.$value}}</ion-option>
                </div>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!isType('POLL')">
          <ion-col>
            <ion-item>
              <ion-label stacked color="primary">Caption:</ion-label>
              <ion-input type="text" name="caption" [(ngModel)]="post.caption" #text="ngModel"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="isType('BANNER_WITH_DESCRIPTION')">
          <ion-col>
            <ion-item>
              <ion-label stacked color="primary" class="required-input">Title:</ion-label>
              <ion-input type="text" name="title" [(ngModel)]="post.title" #text="ngModel" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isType('BANNER_WITH_DESCRIPTION') || isType('HTML')">
          <ion-col>
            <app-tinymce [(ngModel)]='post.description' name="description" class="required-input" required hideWhen="android,ios"></app-tinymce>
            <ion-item showWhen="android,ios">
              <ion-label stacked color="primary" class="required-input">Description</ion-label>
              <ion-input [(ngModel)]="post.description" name="body" type="text" #body="ngModel" required>
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <div *ngIf="isType('POLL')">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label stacked color="primary" class="required-input">Poll Question:</ion-label>
                <ion-input type="text" name="question" [(ngModel)]="post.question" #question="ngModel" required></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let option of this.post.options; let i=index">
            <ion-col *ngIf="i<2">
              <ion-item>
                <ion-label stacked color="primary" class="required-input">Option {{i+1}} </ion-label>
                <ion-input type="text" name="option{{i+1}}" [(ngModel)]="post.options[i].name" required></ion-input>
              </ion-item>
            </ion-col>
            <ion-col *ngIf="i>1">
              <ion-item>
                <ion-label stacked color="primary">Option {{i+1}}</ion-label>
                <ion-input type="text" name="option{{i+1}}" [(ngModel)]="post.options[i].name" placeholder="(Optional)"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item on-tap="setExpiryDate()" class="required-input">
                <ion-label stacked color="primary">End Time</ion-label>
                <ion-datetime name="expiryTime" displayFormat="DD-MMM-YYYY hh:mm a" min="{{this.minTime}}" max="{{this.maxTime}}" pickerFormat="DD-MMM-YYYY hh:mm a " [(ngModel)]="this.timePicker" required></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
        <image-gallery *ngIf="isType('IMAGE_GALLERY')" [params]="{images:post.images, folder: 'posts'}"></image-gallery>
        <ion-item *ngIf="isType('IMAGE_GALLERY')">
          <button item-right ion-button outline small (click)="saveImages()">
            Save Images
          </button>
        </ion-item>

        <ion-row>
          <ion-col *ngIf="isType('BANNER_WITH_DESCRIPTION')">
            <ion-item>
              <ion-label stacked color="primary">Button label:</ion-label>
              <ion-input type="text" name="buttonLabel" [(ngModel)]="post.buttonLabel" #buttonLabel="ngModel"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col *ngIf="isType('BANNER_WITH_DESCRIPTION')">
            <ion-item>
              <ion-label stacked color="primary">Target Url:</ion-label>
              <ion-input type="text" name="targetUrl" [(ngModel)]="post.targetUrl" #targetUrl="ngModel"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col *ngIf="isType('YOUTUBE')">
            <ion-item>
              <ion-label stacked color="primary" class="required-input">YouTube video Url:</ion-label>
              <ion-input type="text" name="youtubeUrl" [(ngModel)]="post.youtubeUrl" #youtubeUrl="ngModel" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <label class="image" style="max-width:120px;cursor:pointer;" *ngIf="isType('BANNER') || isType('BANNER_WITH_DESCRIPTION')">
          <button ion-button outline (click)="uploadImage('image')"> Image </button>
          <span class="required-input"> </span>
        </label>

        <ion-item-group *ngIf="isType('BANNER')">
          <ion-item no-lines>
            <ion-label item-left> Link </ion-label>
            <button ion-button outline (click)="createLink()" item-left> {{ post.targetData ? 'EDIT' : 'ADD' }} </button>
            <div *ngIf="post.targetData">
              <p> Type : {{ post.targetData.title ? post.targetData.type : 'Webpage URL' }}</p>
              <p> Value : {{ post.targetData.title ? post.targetData.title : post.targetData.value }}</p>
            </div>
          </ion-item>
        </ion-item-group>
      </ion-grid>
      <ion-item [hidden]="isType('HTML') || isType('BANNER_WITH_DESCRIPTION')">
        <ion-label>Featured content</ion-label>
        <ion-toggle name="featuredContent" [(ngModel)]="post.isFeaturedContent"></ion-toggle>
      </ion-item>
      <div style="max-width:600px;">
        <h2 class="title">Preview</h2>
        <post-card [(postData)]="post" [params]="{hideBadge:true, disableLike:true, disableMore:true, preview:true}" class="bannerImg"> </post-card>
      </div>
    </ion-list>
  </form>

</ion-content>
<ion-footer>
  <ion-toolbar color="white">
    <ion-grid>
      <ion-row>
        <ion-col [hidden]="post.published" *ngIf="!isType('CALENDAR')">
          <button ion-button [disabled]="!isFormvalid(postForm)" (click)="savePost(postForm, false)" type="submit" block>
            Save
          </button>
        </ion-col>
        <ion-col>
          <button ion-button [disabled]="!isFormvalid(postForm)" (click)="savePost(postForm, true)" type="submit" block>
          Save & Publish
          </button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-toolbar>
</ion-footer>
