no-results {
  & {
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
  }

  ion-icon.icon {
    font-size: 5rem !important;
  }

  ion-icon.icon,
  p {
    color: darken(color($colors, light), 10%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
  }

  .no-results {
    display: flex;
    flex-direction: column;
  }
}
