<div *ngIf="isReady" class="calendar-container">
  <div [ngClass]="(params.minifiedPost ? 'min-header' : 'max-header')+ (!post.caption?' empty-caption':'')">
    {{ post.caption ? post.caption : '' }}
  </div>
  <div class="item-container">
    <div ion-item class="item-event-details calendar-background">
      <single-event [params]="post.session"></single-event>
      <!-- <schedule-card [sessionData]="post.session"  [options]="{showDateLabel:true, showDetailsView: false}"></schedule-card>       -->
    </div>
  </div>
</div>