.calendar-background {
  border: 1px solid #e8e5e5;
  border-left-width: 0;
  border-right-width: 0;
  background-color: rgba(227, 227, 227, 0.21);
  padding: 0;

  div.item-inner > div.input-wrapper > ion-label {
    margin: 0 !important;
  }
}

.min-header {
  padding: 8px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.max-header {
  padding: 15px ;
}

.empty-caption{
  padding: 5px !important;
}

// calendar-post-component {
//   /deep/ .calendar .month {
//     top: 2px !important;
//   }
// }
// .calendar .month {
//   top: 2px !important;
// }

.minified calendar-post-component .day {
  width: 100%;
  margin: 0 0 !important;
}
.minified calendar-post-component p.event-location{
  text-align: inherit !important;
}
