<ion-header>
  <ion-navbar color="primary">
    <ion-title> Account </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle="left"><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="id-card-tag"></div>
  <div class="id-card-tag-strip"></div>
  <div class="id-card-hook"></div>
  <div class="id-card-holder">
    <div class="id-card">
      <span *ngIf="universityName"><br><b class="id-card-name">{{ universityName || 'EventiPlex University' }}</b></span>
      <div class="header">
        <img src="assets/img/eventiplex-badge.jpg">
      </div>
      <h2>{{ user.firstName +' '+user.lastName }}</h2>
      <div class="qr-code">
        <qr-code [value]="user.uid" [size]="100" *ngIf="user.uid"></qr-code>
      </div>
      <h3>{{user.email}}</h3>
      <hr>
    </div>
  </div>
</ion-content>
