.img:hover {
  cursor: pointer;
}

.img-icon {
  border-color: #E5E1DD !important;
  margin-right: 6px !important;
}

.active_img {
  border: 1px solid color($colors, primary);
}

.center {
  order: 3;
  margin-left: 50%;
  margin-top: -33px;
}

.ion-buttons[start] {
  order: 2;
  margin-top: 8px;
}

.no-display {
  display: none;
}

.fileContainer {
  overflow: hidden;
  position: relative;
}

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

page-file-uploader {
  .img {
    // border: solid 1px grey;
    height: 60px !important;
    width: 65px !important;
    margin-left: 6px !important;
    margin-right: 6px;
    margin-top: 10px !important;
  }

  ion-col {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    padding: 10px 5px;
    cursor: pointer;
    border: 1px solid color($colors, light);
  }

  ion-thumbnail {
    text-align: -webkit-center !important;
  }

  .icon-container {
    display: block;
    width: 100%;
    text-align: center;
    height: 50px;
  }

  .back-button {
    display: block;
  }
}
