<ion-content scroll="false">
  <ion-card class="home-header">
    <ion-slides initialSlide="0" autoplay="4000" pager="true" *ngIf="slides && slides.length > 0">
      <ion-slide *ngFor="let slide of slides">
        <div [background-image]="slide"></div>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-buttons left class="home-menu-btn">
    <button ion-button menuToggle="left" icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>

  <div class="home-content">
    <div class="highlights-container">
      <ion-item-divider color="light">Highlights</ion-item-divider>
      <ion-scroll scrollX="true" scroll-avatar>
        <div class="spinner-container" *ngIf="isProcessing">
          <ion-spinner name="ios"></ion-spinner>
        </div>
        <ion-card *ngFor="let post of posts" class="scroll-item">
          <post-card [postData]="post" [params]="{hideLike:true, hideButton:true, minifiedPost:true}"></post-card>
        </ion-card>
        <no-results icon="md-paper" text="No posts found" *ngIf="!posts.length && !isProcessing"></no-results>
        <button ion-fab class="custom-postion" (click)="openHomePage()" *ngIf="posts.length">More</button>
      </ion-scroll>
    </div>

    <ion-grid class="centerGrid">
      <ion-row *ngFor="let triplet of getTriplets()">
        <ion-col *ngFor="let item of triplet">
          <div class="custom" [clickAction]="item" clickType="menu">
            <ion-icon [name]="item.icon" class="IconButton" color="primary"></ion-icon>
            <br/>
            <label class="button-bottom-text">{{item.title}}</label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>